#register {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding: 50px;
}

h1 {
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  #register {
    flex-direction: column;
  }
  #register-info {
    height: 40vh !important;
    width: 100vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #form-register {
    height: 100vh !important;
    width: 100vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#register-info {
  height: 660px;
  width: 660px;
  background-color: #eb0000;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoR {
  height: 50px;
  width: 150px;
  background-color: #eb0804;
  text-align: center;
  z-index: inherit;
  /* margin-left: 5%; */
}

#form-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 660px;
  background-color: #161515;
  margin: 20px;
  /* padding: 10px; */
  flex-direction: column;
}

input {
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 10px;
}

input[type="submit"] {
  width: 100px;
  background-color: #eb0000;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="password"] {
  border: none;
  border-bottom: 2px solid red;
  background-color: #161515;
  color: white;
}

input[type="email"] {
  border: none;
  border-bottom: 2px solid red;
  background-color: #161515;
  color: white;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid red;
  background-color: #161515;
  color: white;
}
