.about {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-bottom: #161515 5px solid;
  height: 100%;
  width: 100vw;
  padding: 50px;
  /* flex-direction: column; */
}

@media screen and (max-width: 768px) {
  .about{
    flex-direction: column;
  }
} 

.about-info {
  height: 550px;
  width: 550px;
  background-color: #eb0000;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px; 
  /* display: flex;
  justify-content: center; */
  align-items: center; 
}

.about-content {
  height: 550px;
  width: 550px;
  background-color: #161515;
  /* margin: 20px;
  padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; 
}

#heading {
  text-align: center;
}

#heading2 {
  text-align: center;
  margin-top: 20px;
  color: white;
}

#expressit {
  color: #eb0000;
  background-color: #161515;
  margin: 0%;
}
