.about {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-bottom: #161515 5px solid;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  /* flex-direction: column; */
}

@media screen and (max-width: 768px) {
  .about{
    flex-direction: column;
  }
  .about-info{
    height: 50vh!important;
    width: 100vw!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-content{
    height: 60vh!important;
    width: 100vw!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} 

.about-info {
  height: 50vh;
  width: 50vw;
  background-color: #eb0000;
 
  margin: 20px;
  padding: 20px; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.about-content {
  height:50vh;
  width: 50vw;
  background-color: #161515;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; 
}

#heading {
  text-align: center;
}

#heading2 {
  text-align: center;
  margin-top: 20px;
  color: white;
}

#expressit {
  color: #eb0000;
  background-color: #161515;
  margin: 0%;
}
