.contact {
  height: 100%;
  width: 100vw;
  border-bottom: #161515 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 50px;
  /* flex-direction: column-reverse; */
}


#contact-info {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  
}

@media screen and (max-width: 768px) {
  #contact-info {
    flex-direction: column-reverse;
  }

  .contact{
    flex-direction: column-reverse;
  }
} 

strong {
  color: #eb0000;
}

.info {
  height: 550px;
  width: 550px;
  background-color: #eb0000;
  display: flex;
  justify-content: center;
  /* margin: 20px; */
  padding: 20px; 
}

.form {
  height: 550px;
  width: 550px;
  background-color: #161515;
  text-align: center;
  margin: 20px;
  padding: 50px;
  flex-direction: column; 
}

input {
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 10px; 
}

input[type="submit"] {
  width: 100px;
  background-color: #eb0000;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid red;
  background-color: #161515;
  color: white;
}

input[type="email"] {
  border: none;
  border-bottom: 2px solid red;
  background-color: #161515;
  color: white;
}

textarea {
  border: none;
  border-bottom: 2px solid red;
  background-color: #161515;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
}

/* .info-wrapper {
  height: 100vh;
  width: 100vw;
} */
